<launch>

    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
        <remap from="imu_data" to="imu/data" />
        <remap from="odom" to="encoder" />
        <rosparam>
            freq: 20.0
            sensor_timeout: 1.0
            publish_tf: true
            odom_used: true
            imu_used: true
            vo_used: false
            gps_used: false
            imu_absolute: false
            output_frame: odom
        </rosparam>
    </node>

</launch>