<launch>

    <arg name="port" default="/dev/ttyS0"/>
    <arg name="baud" default="115200"/>
    <arg name="test_file" default=""/>
    <arg name="sh" default="0.0.0.0"/> # sensor host
    <arg name="sp" default="50005"/> # sensor port
    
    <include file="$(find htp_auto)/launch/record.launch" />

    <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="gps_driver">
        <param name="port" value="$(arg port)"/>
        <param name="baud" value="$(arg baud)"/>
        <param name="test_file" value="$(arg test_file)"/>
    </node>

    <node pkg="htp_auto" type="gps_converter" name="gps_converter"> </node>
    
    <node pkg="htp_auto" type="gps_server.py" name="gps_server">
        <param name="sh" value="$(arg sh)"/>
        <param name="sp" value="$(arg sp)"/>
    </node>

    <node name="gps_utc_throttler" type="throttle" pkg="topic_tools" args="messages /gps_utc 20 /gps_utc_throttled" />

</launch>
